<%- include('../partials/head.ejs') %>

    <body>
        <h1 name="title">
            <%= post.title %>
        </h1>
        <h3>Debunk part</h3>
        <p name="debunk_desc">
            <%= post.debunk.description %>
        </p>
        <ul class="debunkLinks-list">
            <% post.debunk.links.forEach(element=> { %>
                <li><a href="<%= element %> ">
                        <%= element %>
                    </a></li>
                <% }); %>
        </ul>

        <ul class="debunkImage-list">
            <% post.debunk.debunk_images.forEach(element=> { %>
                <li><img src="/uploads/<%= element %>"></li>
                <% }); %>
        </ul>

        <ul class="debunkIframe-list">
            <li>
                <% post.debunk.iframes.forEach(element=> { %>
                    <%- element %>
                        <% }); %>
            </li>
        </ul>

        <h3>Fake part</h3>
        <p name="fake_desc">
            <%= post.fake.description %>
        </p>
        <ul class="fakeLink-list">
            <% post.fake.links.forEach(element=> { %>
                <li><a href="<%= element %> ">
                        <%= element %>
                    </a></li>
                <% }); %>
        </ul>

        <ul class="fakeImage-list">
            <% post.fake.fake_images.forEach(element=> { %>
                <li><img src="/uploads/<%= element %>"></li>
                <% }); %>
        </ul>

        <ul class="fakeIframe-list">
            <li>
                <% post.fake.iframes.forEach(element=> { %>
                    <%- element %>
                        <% }); %>
            </li>
        </ul>

    </body>

    </html>