<%- include('../partials/head.ejs') %>
    <body>
        <div class="post" class>
            <p class="text posted-by">Posted <%=post.created%> by: <%=post.author_id%></p>

            <h1 name="title" class="text title postTitle">
                <%= post.title %>
            </h1>
            <div class="debunk_part">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <h3 class="text debunkTitle">Debunk part</h3>
                <p class="text debunk_desc">
                    <%= post.debunk.description %>
                </p>
                <ul class="debunkLinks-list ">
                    <% post.debunk.links.forEach(element=> { %>
                        <li>
                            <a class="ext-link" href="<%= element %> ">
                                <%= element %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
                

                <div class="grid-container debunkImage-list">
                    <% post.debunk.debunk_images.forEach(element=> { %>
            
                    <div class="grid-item">
                        <img class="content-image" src="/uploads/<%= element %>">
                    </div>
                    <% }); %>
                </div>

                <ul class="debunkIframe-list">
                    <li>
                        <% post.debunk.iframes.forEach(element=> { %>
                            <%- element %> 
                                <% }); %>
                    </li>
                </ul>
            </div>

            <div class="fake-part">
                <h3 class="text fake-title">Fake part</h3>
                <p name="text" class="text fake-desc">
                    <%= post.fake.description %>
                </p>
                <ul class="text fakeLink-list">
                    <% post.fake.links.forEach(element=> { %>
                        <li>
                            <a class="ext-link" href="<%= element %> ">
                                <%= element %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
        
                <div class="grid-container fakeImage-list">
                    <% post.fake.fake_images.forEach(element=> { %>
                        <div class="grid-item">
                            <img class="content-image" src="/uploads/<%= element %>">
                        </div>
                    <% }); %>
                    </div>
        
                <ul class="fakeIframe-list">
                    <li>
                        <% post.fake.iframes.forEach(element=> { %>
                            <%- element %> <br>
                                <% }); %>
                    </li>
                </ul>

            </div>
            <p class="text posted-by">Accepted <%=post.created%> by: <%=post.accepted_by%></p>

        </div>

    </body>

    </html>