<%- include('../partials/head.ejs') %>

<div class="background">
    <div class="shape-apply" style="top: 55%;"></div>
    <div class="shape-apply" style="top: 25%;"></div>
</div>
<div class="vertical-center">

    <div class="container-md application-form">
        <div class="row">
            <div class="col">
                <h2 class="text">Welcome <%= user.username %></h2>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h4 class="text">Your statistics on our page</h4>
            </div>
        </div>
        <div class="row my-3">
            <div class="col text">
                <ul> <!--Dopisać statystyki-->
                    <li>
                        <p>Number of votes: <%= locals.votesCount %></p>
                    </li>
                    <li>
                        <p>Number of created posts: <%= locals.postsCount %></p>
                    </li>
                    <li>
                        <p>Number of approved posts: <%= locals.acceptedPostsCount %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>

</html>
